html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-family: Garamond, 'Amiri' serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
