html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-family: Garamond, 'Amiri' serif;
  font-size: 1.5rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.header {
  height: 150px;
  background-color: #e9e6e1;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header__container {
  width: 1110px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  gap: 0.3em;
}

.header__title {
  color: #352f39;
}

.title-holder {
  height: 100px;
  width: 1110px;
  margin: 1em auto;
  margin-top: 4em;
  background-color: #e9e6e1;
  color: #352f39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.mission-statement__container {
  max-width: 1110px;
  margin: 0 auto;
}

.mission-statement__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

.mission-statement__text-container {
  padding: 1em;
  background-color: #e9e6e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2b475c;
}

.mission-statement__text {
  margin-bottom: 1em;
}

.products__container {
  max-width: 1110px;
  margin: 0 auto;
}

.products__main-image-container {
  min-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e6e1;
}

.products__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

.products__text-container {
  background-color: #e9e6e1;
  padding: 1em;
  font-size: 0.95rem;
  color: #2b475c;
}

.products__main-text {
  margin-bottom: 1em;
}

.products__main-text--bold {
  font-weight: bold;
}

.products__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
}

.products__image {
  background-color: #e9e6e1;
}

.product-process {
  max-width: 1110px;
  margin: 0 auto;
}

.product-process__slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product-process__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: left 300ms ease-in-out;
  transition: left 300ms ease-in-out;
}

.product-process__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: 50%;
  margin-left: 25%;
}

.product-process__slide img {
  display: block;
  width: 100%;
  height: auto;
}

.product-process__text {
  padding: 1em;
  height: 150px;
  background-color: #e9e6e1;
  color: #2b475c;
}

.product-process__button-holder {
  width: 1110px;
  height: 50px;
  margin: 1em;
}

.product-process__nav-btn {
  color: transparent;
  display: block;
  width: 0;
  height: 0;
  background-color: transparent;
  border: solid 25px transparent;
  border-color: transparent #352f39 transparent transparent;
  border-left-width: 0;
  position: absolute;
  cursor: pointer;
}

.product-process__nav-btn--right {
  left: unset;
  right: 18rem;
  border-color: transparent transparent transparent #352f39;
  border-left-width: 25px;
  border-right-width: 0;
}

.product-process__step-counter {
  position: absolute;
  display: block;
  right: 38rem;
  font-size: 1.5rem;
}

.about {
  max-width: 1110px;
  margin: 0 auto;
}

.about__title-holder {
  margin-bottom: 2em;
}

.about__info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e9e6e1;
  padding: 1em 0.5em 1em 0.5em;
  border-radius: 40px 40px 0 0;
}

.about__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  color: #2b475c;
  gap: 1em;
}

.footer {
  max-width: 1110px;
  margin: 0 auto;
  background-color: #352f39;
  color: #e9e6e1;
  font-size: 0.85rem;
  padding: 8em 2em 4em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.75em;
}

.footer__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.75em;
  width: 320px;
}

.footer__link {
  color: transparent;
  width: 50px;
  height: 50px;
}

.footer__link--facebook {
  background-image: url("../assets/icons-facebook.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}

.footer__link--instagram {
  background-image: url("../assets/icons-instagram.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

.footer__flex-container--contact {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer__nav {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1em;
}

.footer__copyright {
  margin-top: 1.5em;
}

.contact-form__input {
  border: none;
  background-color: #e9e6e1;
  padding: 0.5em;
}

.contact-form__input--button {
  background-color: #de3e4e;
  font-size: 0.8rem;
  color: #352f39;
}
/*# sourceMappingURL=style.css.map */