html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-family: Garamond, 'Amiri' serif;
  font-size: 1.5rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

$gray: #858882;
$beige: #e9e6e1;
$green: #5e8a75;
$indigo-black: #352f39;
$blue: #2b475c;
$width: 1110px;

@mixin container {
  max-width: $width;
  margin: 0 auto;
}

.header {
  height: 150px;
  background-color: $beige;
  font-size: 1.5rem;
  text-transform: uppercase;

  &__container {
    width: $width;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    gap: 0.3em;
  }

  &__title {
    color: $indigo-black;
  }
}

.title-holder {
  height: 100px;
  width: $width;
  margin: 1em auto;
  margin-top: 4em;
  background-color: $beige;
  color: $indigo-black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  text-transform: uppercase;
}

.mission-statement {
  &__container {
    @include container;
  }

  &__slide {
    display: flex;
    gap: 1.5em;
  }

  &__text-container {
    padding: 1em;
    background-color: $beige;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: $blue;
  }

  &__text {
    margin-bottom: 1em;
  }
}

.products {
  &__container {
    @include container;
  }

  &__main-image-container {
    min-width: 700px;
    display: flex;
    justify-content: center;
    background-color: $beige;
  }

  &__main-content {
    display: flex;

    gap: 1.5em;
  }

  &__text-container {
    background-color: $beige;
    padding: 1em;
    font-size: 0.95rem;
    color: $blue;
  }

  &__main-text {
    margin-bottom: 1em;
  }

  &__main-text--bold {
    font-weight: bold;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
  }

  &__image {
    background-color: $beige;
  }
}

.product-process {
  @include container;

  &__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__container {
    width: 100%;
    display: flex;
    position: relative;
    transition: left 300ms ease-in-out;
  }

  &__slide {
    flex-shrink: 0;
    width: 50%;
    position: relative;
    display: flex;
    flex-flow: column;
    margin-right: 50%;
    margin-left: 25%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__text {
    padding: 1em;
    height: 150px;
    background-color: $beige;
    color: $blue;
  }

  &__button-holder {
    width: 1110px;
    height: 50px;
    margin: 1em;
  }

  &__nav-btn {
    color: transparent;
    display: block;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 25px transparent;
    border-color: transparent $indigo-black transparent transparent;
    border-left-width: 0;
    position: absolute;
    cursor: pointer;
  }

  &__nav-btn--right {
    left: unset;
    right: 18rem;

    border-color: transparent transparent transparent $indigo-black;
    border-left-width: 25px;
    border-right-width: 0;
  }

  &__step-counter {
    position: absolute;
    display: block;

    right: 38rem;
    font-size: 1.5rem;
  }
}

.about {
  @include container;

  &__title-holder {
    margin-bottom: 2em;
  }

  &__info-container {
    display: flex;
    justify-content: space-between;

    background-color: $beige;
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 40px 40px 0 0;
  }

  &__image-container {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: $blue;

    gap: 1em;
  }
}

.footer {
  @include container;

  background-color: $indigo-black;
  color: $beige;
  font-size: 0.85rem;
  padding: 8em 1.5em 1.5em 1.5em;

  display: flex;
  justify-content: space-between;

  &__flex-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 0.75em;
  }

  &__contact-form {
    display: flex;
    flex-flow: column;
    gap: 0.75em;
  }

  &__link {
    color: $beige;
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }
}
